{% extends 'quotes/base.html' %}

{% block content %}


<h1> Quotes for tag: {{ tag.name }}</h1>
{% for quote in quotes_10 %}
<div class="quote_selected" itemscope="" itemtype="http://schema.org/CreativeWork">
    <span class="text" itemprop="text">{{quote.quote}}</span>
    <span>by <small class="author" itemprop="author">{{ quote.author.fullname }}</small>
        <a class="about" href="{% url 'quotes:author_detail' quote.author.id %}">(about)</a>
    </span>
    <div class="tags">
        Tags:
        {% for tag in quote.tags.all %}
        <a class="tag" href="{% url 'quotes:tag_detail' tag.id %}">{{tag.name}}</a>
        {% endfor %}
    </div>
    {% if user.is_authenticated %}
    <a class="btn btn-secondary" href="{% url 'quotes:quote_detail' quote.id %}">Edit</a>
    {% endif %}
</div>
{% endfor %}

{% endblock %}
